<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	
	
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MasterISS_Partner_WebSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />

			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />

			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />

			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
	</system.webServer>
	
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off"></customErrors>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IPartnerService1" maxReceivedMessageSize="2147483647">
					<security mode="None" />
				</binding>
				<binding name="WSHttpBinding_ICustomerSetupService1" maxReceivedMessageSize="2147483647">
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://10.184.3.63:5998/PartnerService.svc/PartnerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPartnerService1" contract="PartnerServiceReference.IPartnerService" name="WSHttpBinding_IPartnerService1" />
			<endpoint address="http://10.184.3.63:9902/CustomerSetupService.svc/CustomerSetupService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerSetupService1" contract="CustomerSetupServiceReference.ICustomerSetupService" name="WSHttpBinding_ICustomerSetupService1" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<MasterISS_Partner_WebSite.Properties.Settings>
   <setting name="Username" serializeAs="String">
    <value>netspeed-services</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>BWzQGencrDqW9qxT</value>
   </setting>
   <setting name="SearchLimit" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="FileSizeLimit" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="CookieExpiration" serializeAs="String">
    <value>02:00:00</value>
   </setting>
   <setting name="RendezvousTeamCookieTime" serializeAs="String">
    <value>00:30:00</value>
   </setting>
   <setting name="WorkingDaysLong" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="WokingHoursLong" serializeAs="String">
    <value>01:00:00</value>
   </setting>
   <setting name="VerimorKey" serializeAs="String">
    <value>Kf1056629-c65a-47c7-9bff-c42471d167cb</value>
   </setting>
   <setting name="LastPaymentsTakeValue" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="EnvironmentVariableRoot" serializeAs="String">
    <value>RadiusR_Repo</value>
   </setting>
  </MasterISS_Partner_WebSite.Properties.Settings>
	</applicationSettings>
	<connectionStrings>
		<add name="PartnerWebSiteEntities" connectionString="metadata=res://*/Models.PartnerEntities.csdl|res://*/Models.PartnerEntities.ssdl|res://*/Models.PartnerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.184.3.63\DEVSQLSERVER;initial catalog=MasterISSPartnerWebSite;user id=sa;password=dev@netspeed#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
