@using MasterISS_Partner_WebSite.ViewModels
@using MasterISS_Partner_WebSite.Localization
@model IEnumerable<AvailablePermissionList>

@using (Html.BeginForm("UpdateRolePermission", "UserOperations", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <label class="text-info col-12 col-form-label my-4">Yetkiler</label>
    <div class="checkbox-list">
        @foreach (var item in Model)
        {
            <label class="checkbox">
                <input class="checkbox" type="checkbox" value="@item.PermissionId" name="SelectedPermissions" checked="@item.IsSelected" />
                <span></span>@Html.DisplayFor(m => item.PermissionName)
            </label>
        }
    </div>
    <input value="aa" type="submit" />
}
