
@{
    ViewBag.Title = MasterISS_Partner_WebSite.Localization.View.Successful;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MasterISS_Partner_WebSite.Localization.View.Successful</h2>

@Html.ActionLink(MasterISS_Partner_WebSite.Localization.View.ReturnUserOperations, "Index", "UserOperations")
