
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Setup") || User.IsInRole("SetupManager"))
{
    @Html.ActionLink("Kurulum Hakediş Detayları", "SetupAllowedDetails", "Revenues")
    <br />
    @Html.ActionLink("Kurulum Hakediş Listesi", "SetupAllowanceList", "Revenues")
    <br />
    @Html.ActionLink("Kurulum Genel Hakediş Listesi", "SetupGenericAllowanceList", "Revenues")

}


@if (User.IsInRole("SaleManager"))
{
    <span>Bu bir denemedir sil.</span>
}