@using MasterISS_Partner_WebSite.ViewModels.Revenues
@model  IEnumerable<GetBasicAllowenceDetailsResponseList>
@{
    ViewBag.Title = MasterISS_Partner_WebSite.Localization.View.SaleAllowedDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(m => m.AllowanceStateName)</td>
            <td>@Html.DisplayNameFor(m => m.Price)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <td>@Html.DisplayFor(modelItem => item.AllowanceStateName)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
            }
        </tr>
    </tbody>
</table>



