<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@MasterISS_Partner_WebSite.Localization.View.Error</title>
</head>
<body>
    <hgroup>
        <h1>@MasterISS_Partner_WebSite.Localization.View.Error</h1>
        <h2>@MasterISS_Partner_WebSite.Localization.View.GeneralErrorDescription</h2>
    </hgroup>
</body>
</html>
