@using MasterISS_Partner_WebSite.Localization
@model  MasterISS_Partner_WebSite.ViewModels.Setup.Response.GetCustomerCredentialsResponseViewModel

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Username)</th>
        <td>@Html.DisplayFor(model => model.Username)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Password)</th>
        <td>@Html.DisplayFor(model => model.Password)</td>
    </tr>
</table>