@{
    ViewBag.Title = MasterISS_Partner_WebSite.Localization.View.SmsConfirmation;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SmsConfirmation", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.TextBox("inputCode")

    <input type="submit" value="@MasterISS_Partner_WebSite.Localization.View.Confirm"/>
}
<div style="background-color:red">
    @ViewBag.Error
</div>