<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>
		<add name="PartnerEntities" connectionString="metadata=res://*/Model.PartnerDBModel.csdl|res://*/Model.PartnerDBModel.ssdl|res://*/Model.PartnerDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.184.3.63\DEVSQLSERVER;initial catalog=MasterISSPartnerWebSite;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="MasterISSPartnerWebSiteEntities" connectionString="metadata=res://*/Models.PartnerEntities.csdl|res://*/Models.PartnerEntities.ssdl|res://*/Models.PartnerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.184.3.63\DEVSQLSERVER;initial catalog=MasterISSPartnerWebSite;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="PartnerWebSiteEntities" connectionString="metadata=res://*/Models.PartnerEntities.csdl|res://*/Models.PartnerEntities.ssdl|res://*/Models.PartnerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.184.3.63\DEVSQLSERVER;initial catalog=MasterISSPartnerWebSite;persist security info=True;user id=sa;password=dev@netspeed#123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IPartnerService">
					<security mode="None" />
				</binding>
				<binding name="WSHttpBinding_ICustomerSetupService">
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://10.184.3.63:5998/PartnerService.svc/PartnerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPartnerService"
                contract="PartnerServiceReference.IPartnerService" name="WSHttpBinding_IPartnerService" />
			<endpoint address="http://10.184.3.63:9902/CustomerSetupService.svc/CustomerSetupService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerSetupService"
                contract="CustomerSetupServiceReference.ICustomerSetupService"
                name="WSHttpBinding_ICustomerSetupService" />
		</client>
	</system.serviceModel>
</configuration>